@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@900&family=Flow+Circular&display=swap&family=Montserrat:wght@300&family=Oxanium:wght@300&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-align-last: center;
}

body {
  background-color: black;
  color: white;
}

#settings {
  background-color: #262626;
  border-radius: 22px;
  padding: 30px;
  margin: auto;
}

/*For PC: */
@media only screen and (min-width: 550px) {
  #settings {
    width: 60vw;
  }
}

/*For mobile: */
@media only screen and (max-width: 550px) {
  #settings {
    width: 80vw;
  }
}

#btnGenerate, #btnDownload {
  margin-top: 30px;
  padding: 10px;
  font-size: 1.5em;
  border: 2px solid white;
  background-color: black;
  color: white;
  border-radius: 22px;
}

#btnGenerate:hover, #btnDownload:hover {
  transform: scale(110%);
}

#btnDownload {
  display: block;
  margin: auto;
  margin-top: 20px;
}

#status {
  display: none;
  font-weight: bold;
  font-size: 1.3em;
  margin: 15px;
}

#output {
  display: none;
  text-align: center;
}

/********** Range Input Styles **********/
/*Copy-pasted from https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    margin: 20px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: #053a5f;
   border-radius: 0.5rem;
   height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -12px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: #5cd5eb;
   height: 2rem;
   width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   background-color: #053a5f;
   border-radius: 0.5rem;
   height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: none; /*Removes extra border that FF applies*/
   border-radius: 0; /*Removes default border-radius that FF applies*/

   /*custom styles*/
   background-color: #5cd5eb;
   height: 2rem;
   width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem; 
}


/* Loader */

#loader {
  border: 16px solid #5cd5eb;
  border-top: 16px solid #000000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Footer: */

.footer {
  margin-top: 50px;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
}

.footer-text-left {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding-left: 10px;
  padding-top: 20px;
  float: left;
}

.footer-content-right {
  padding-right: 10px;
  margin-top: 20px;
  float:right;
}

.icon-style {
  height: 40px;
  margin-left: 20px;
  margin-top: 5px;
  transition: 0.4s;
}

.icon-style:hover {
  height: 55px;
}